.home-intro {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home-intro h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--main-title);
    margin: 2rem 0;
}

.home-intro p {
    letter-spacing: 1.2px;
    color: var(--secondary-color);
    line-height: 2;
    margin-bottom: 2rem;
}

.home-intro img {
    border-radius: 7px;
    width: calc(100% / 2);
}

@media (max-width:991px) {
    .home-intro {
        flex-direction: column;
    }

    .home-intro img {
        display: none;
    }
}

@media (max-width:634px) {
    .home-intro h2 {
        font-size: 2rem;
        margin: 1rem 0;
    }
}